html {
    font-family: "Fira Sans";
    background-color: #F0ECEE;
}

.flex {
    flex-flow: column wrap;
}

h1{
    font-size: 44px;
    font-family: "Fira sans";
    text-align: center;
    margin-top: 50px;  
}

h3 {
    font-size: 24px;
}

em {
    font-style: normal;
    color: #FF4850;
}

wh {
    font-style: normal;
    color: #000000;
}

.nav ul, li, a {
    text-decoration: none;
    font-size: 20px;
    color: #000000;
}

a:hover {
    color: #FF4850;
}

button {
    background-color: #FF4850;
    font-family: "Fira Sans";
    padding: 10px;
    width: 100%;
    color: #F0ECEE;
}

button:hover {
    background-color: #CCC;
}

.main h2 {
    font-size: 38px;
    line-height: 1.5;
    font-weight: 600px;
}

.main p {
    color: #88898B;
    font-size: 18px;
}

@media (min-width: 768px) {

    html {
        width: 100%;
        height: 100%;
        font-family: "Fira Sans";
        background-color: #F0ECEE;
        background-image: url('../images/dog2.jpg');
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    
    body {
        margin: 10px 60px;
    }

    .header {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        margin: 20px 0;
    }

    .adopt {
        flex: 3;
    }

    .nav ul li {
        display: inline-block;
        padding: 5px;
    }

    button {
        width: auto;
        height: 60px;
        font-size: 18px;
    }

    .contact {
        margin-left: 10px;
    }

    /* LAYOUT BUTTON */
    .btn-5 {
        width: 130px;
        height: 40px;
        line-height: 42px;
        padding: 0;
        border: none;
        background: #FF4850;
        background: linear-gradient(0deg, #FF4850 0%, #FF4850 100%);
    }
    .btn-5:hover {
        color: #FF4850;
        background: transparent;
        box-shadow:none;
    }
    .btn-5:before,
    .btn-5:after{
        content:'';
        position:absolute;
        top:0;
        right:0;
        height:2px;
        width:0;
        background: #FF4850;
        box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
        transition:400ms ease all;
    }
    .btn-5:after{
        right:inherit;
        top:inherit;
        left:0;
        bottom:0;
    }
    .btn-5:hover:before,
    .btn-5:hover:after{
        width:100%;
        transition:800ms ease all;
    }

    .main {
        padding-top: 50px;
        width: 40%;
    }

    .main p {
        font-size: 18px;
        text-align: justify;
        font-style: normal;
    }

    .findout {
        padding: 0px 70px;
    }
}
