html {
    font-family: "Fira Sans";
    background-color: #F0ECEE;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    flex-flow: column wrap;
}


wh {
    font-style: nromal;
    color: #000000;
}

h1{
    font-size: 44px;
    font-family: "Fira Sans";
    text-align: center; 
}

h2{
    font-size: 27px;
    font-family: "Fira Sans";
    text-align: center; 
}

h3 {
    font-size: 24px;
}

em {
    font-style: normal;
    color: #FF4850;
}

.nav ul, li, a {
    text-decoration: none;
    list-style: none;
    padding-left: 0;
    font-size: 20px;
    color: #000000;
}

a:hover {
    color: #FF4850;
}

button {
    background-color: #FF4850;
    border: none;
    font-family: "Fira Sans";
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    color: #F0ECEE;
}

button:hover {
    background-color: #CCC;
}

.main h2 {
    font-size: 38px;
    line-height: 1.5;
    font-weight: 600px;
}

.main p {
    color: #88898B;
    font-size: 18px;
}

@media (min-width: 768px) {

    html {
        width: 100%;
        height: 100%;
        font-family: "Fira Sans";
        background-color: #F0ECEE;
        background-image: url('../images/dog7.png');
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    
    body {
        margin: 10px 60px;
    }

    .header {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        margin: 30px 0;
    }

    .adopt {
        flex: 3;
    }

    .nav ul li {
        display: inline-block;
        padding: 5px;
    }

    button {
        width: auto;
        height: 60px;
        font-size: 18px;
    }

    .contact {
        margin-left: 10px;
    }

    /* LAYOUT BUTTON */
    .btn-5 {
        width: 130px;
        height: 40px;
        line-height: 42px;
        padding: 0;
        border: none;
        background: #FF4850;
        background: linear-gradient(0deg, #FF4850 0%, #FF4850 100%);
    }
    .btn-5:hover {
        color: #FF4850;
        background: transparent;
        box-shadow:none;
    }
    .btn-5:before,
    .btn-5:after{
        content:'';
        position:absolute;
        top:0;
        right:0;
        height:2px;
        width:0;
        background: #FF4850;
        box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
        transition:400ms ease all;
    }
    .btn-5:after{
        right:inherit;
        top:inherit;
        left:0;
        bottom:0;
    }
    .btn-5:hover:before,
    .btn-5:hover:after{
        width:100%;
        transition:800ms ease all;
    }

    .main {
        padding-top: 80px;
        width: 50%;
    }

    .main p {
        font-size: 18px;
        text-align: justify;
    }

    .findout {
        padding: 10px 70px;
    }


    @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    }


    body {
        font-family: "Fira sans";
        font-size: 12px;
        line-height: 30px;
        color: #777;
    }

    .container {
    max-width: 400px;
    width: 100%;
    margin: -100px auto;
    position: relative;
    }

    #contact input[type="text"],
    #contact input[type="email"],
    #contact input[type="tel"],
    #contact input[type="url"],
    #contact textarea,
    #contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
    }

    #contact {
    background: #F9F9F9;
    padding: 25px;
    margin: 150px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

    #contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
    }

    #contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
    }

    fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
    }

    #contact input[type="text"],
    #contact input[type="email"],
    #contact input[type="tel"],
    #contact input[type="url"],
    #contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    }

    #contact input[type="text"]:hover,
    #contact input[type="email"]:hover,
    #contact input[type="tel"]:hover,
    #contact input[type="url"]:hover,
    #contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
    }

    #contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
    }

    #contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #FF4850;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
    }

    #contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    }

    .copyright {
    text-align: center;
    }

    #contact input:focus,
    #contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
    }

    ::-webkit-input-placeholder {
    color: #888;
    }

    :-moz-placeholder {
    color: #888;
    }

    ::-moz-placeholder {
    color: #888;
    }

    :-ms-input-placeholder {
    color: #888;
    }


}
