html {
    font-family: "Fira Sans";
    background-color: #F0ECEE;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    flex-flow: column wrap;
}

h1{
    font-size: 44px;
    font-family: "Fira Sans";
    text-align: center;
    margin-top: 100px;  
}

h3 {
    font-size: 24px;
}

em {
    font-style: normal;
    color: #FF4850;
}

wh {
    font-style: normal;
    color: #000000;
}

.nav ul, li, a {
    text-decoration: none;
    list-style: none;
    padding-left: 0;
    font-size: 20px;
    color: #88898B;
}

a:hover {
    color: #FF4850;
}

button {
    background-color: #FF4850;
    border: none;
    font-family: "Fira Sans";
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    color: #F0ECEE;
}

button:hover {
    background-color: #CCC;
}

.main h2 {
    font-size: 38px;
    line-height: 1.5;
    font-weight: 600px;
}

.main p {
    color: #88898B;
    font-size: 18px;
}

@media (min-width: 768px) {

    html {
        width: 100%;
        height: 100%;
        font-family: "Fira Sans";
        background-color: #F0ECEE;
        background-image: url('../images/dog4.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    body {
        margin: 10px 60px;
    }

    .header {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        margin: 20px 0;
    }

    .adopt {
        flex: 3;
    }

    .nav ul li {
        display: inline-block;
        padding: 5px;
    }

    button {
        width: auto;
        height: 60px;
        font-size: 18px;
    }

    .contact {
        margin-left: 10px;
    }

    /* LAYOUT BUTTON */
    .btn-5 {
        width: 130px;
        height: 40px;
        line-height: 42px;
        padding: 0;
        border: none;
        background: #FF4850;
        background: linear-gradient(0deg, #FF4850 0%, #FF4850 100%);
    }
    .btn-5:hover {
        color: #FF4850;
        background: transparent;
        box-shadow:none;
    }
    .btn-5:before,
    .btn-5:after{
        content:'';
        position:absolute;
        top:0;
        right:0;
        height:2px;
        width:0;
        background: #FF4850;
        box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
        transition:400ms ease all;
    }
    .btn-5:after{
        right:inherit;
        top:inherit;
        left:0;
        bottom:0;
    }
    .btn-5:hover:before,
    .btn-5:hover:after{
        width:100%;
        transition:800ms ease all;
    }

    .waves {
        position:relative;
        width: 120%;
        height:40vh;
        margin-bottom:-7px; /*Fix for safari gap*/
        margin-left: -300px;
        min-height:100px;
        max-height:1900px;
      }

    
    /* Animation */

    .parallax > use {
        animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
    }
    .parallax > use:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
    }
    .parallax > use:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
    }
    .parallax > use:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
    }
    .parallax > use:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
    }
    @keyframes move-forever {
        0% {
        transform: translate3d(-90px,0,0);
        }
        100% { 
        transform: translate3d(85px,0,0);
        }
    }

    .main {
        padding-top: 120px;
        width: 30%;
    }

    .main p {
        font-size: 18px;
        text-align: justify;
    }

    .findout {
        padding: 10px 70px;
    }
}
